<html lang="en">
<head>
  <title>Gift Card </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <style>
	.img-size{
	height:280px;
	}
	#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
 .carousel-inner img {
      width: 100%;
      height: 100%;
  }

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  heigth:50%;
  width: 100%;
  background-color: #228FD1;
  color: Light;
  text-align: center;
}
#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
.navbardef {
    background-color: #228FD1;
    border-color: #E7E7E7;
}
	.card-width{
	width: 300px;
	}
	
.height{
height:250px;
width:900px;
margin-left:auto;
margin-right:auto;
display:block;
margin-top:1%;
margin-bottom:0%
}
.mar{
margin-top:1%;
}
 .card-align{
 width:300%;
 align-center;
 }
  </style>
  <script>



function formdata()
  
  {
  
    var linr = document.getElementById('inr').value;
	var lrfname = document.getElementById('rfname').value;
	var lrlname = document.getElementById('rlname').value;
	var laddress = document.getElementById('address').value;
	var lcity = document.getElementById('city').value;
	var lstate = document.getElementById('state').value;
	var lcountry = document.getElementById('country').value;
	var lpincode = document.getElementById('pincode').value;
	var lbfname = document.getElementById('bfname').value;
	var lblname = document.getElementById('blname').value;
	var lphone = document.getElementById('phone').value;
	var lemail = document.getElementById('email').value;
	
	
	var allProducts = null;
		if(sessionStorage.getItem('allProducts'))
		{
			allProducts = JSON.parse(sessionStorage.getItem('allProducts'));
			var size = allProducts.length;
			
			allProducts[size] =	{
									sinr: linr,
									srfname: lrfname,
									srlname: lrlname,
									saddress: laddress,
									scity: lcity,
									sstate: lstate,
									scountry: lcountry,
									spincode: lpincode,
									sbfname: lbfname,
									sblname: lblname,
									sphone: lphone,
									semail: lemail
								};
		}
		else
		{
			allProducts = [{
			sinr: linr,
			srfname: lrfname,
			srlname:lrlname,
			saddress: laddress,
			scity: lcity,
			sstate: lstate,
			scountry: lcountry,
			spincode: lpincode,
			sbfname: lbfname,
			sblname: lblname,
			sphone: lphone,
			semail: lemail
		}];
	}
	sessionStorage.setItem('allProducts',JSON.stringify(allProducts));
	allProducts = JSON.parse(sessionStorage.getItem('allProducts'));

	
	return true;

  }
</script>
</head>
<body>
<nav class="navbar">
  
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTbeTi64Gcsw3ACzVTXP0e_VwOHIQv74K4p-ArIOTHzrpjgCBd3" class="rounded-circle" alt="Cinque Terre" width="90" height="90"> 
  </nav>
        

	<nav class="navbar navbar-expand-md navbardef ">
  <a class="navbar-brand text-White" href="#">Menu</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link text-White" href="Home.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="Placeorder.html">Place Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="Vieworder.html">View Order</a>
      </li>
	   <li class="nav-item">
        <a class="nav-link text-white" href="Contactus.html">Contact Us</a>
      </li>
      
    </ul>
	</div>
	</nav>
	<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
     
      <div class="list-group list-group-flush">
       
		<div class="list-group list-group-flush">
		<ul class="list-group" style="max-height: 200px;overflow: auto;">
        <li class="list-group-item" ng-repeat="i in filters">
           <a href="Home.html" class="list-group-item list-group-item-action bg-light">Home</a>
        </li>
    </ul>
	<ul class="list-group" style="max-height: 200px;overflow: auto;">
        <li class="list-group-item" ng-repeat="i in filters">
          <a href="Placeorder.html" class="list-group-item list-group-item-action bg-light">Place Order</a>
        </li>
    </ul></div>
        
        <div class="list-group list-group-flush">
		<ul class="list-group" style="max-height: 200px;overflow: auto;">
        <li class="list-group-item" ng-repeat="i in filters">
           <a href="Vieworder.html" class="list-group-item list-group-item-action bg-light">View Order</a>
        </li>
    </ul>
	<ul class="list-group" style="max-height: 200px;overflow: auto;">
        <li class="list-group-item" ng-repeat="i in filters">
          <a href="Contactus.html" class="list-group-item list-group-item-action bg-light">Contact Us</a>
        </li>
    </ul></div>
      </div>
    </div>
<div class="container ">
  <div class="row mt-5">
  <div class="col-md-8 col-md-offset-8">
  <h2>Place Order</h2>

  <div class="panel panel-default">
   
	<form action="Vieworder.html" onsubmit="formdata()">
    <div class="panel-body">

		     <div class="form-group ">
			    <label for="test">Gift Card Amount :</label>
                <span><input name="test" id="inr" type="text" /></span>
				</div>
				<div>
		         <div class="form-group mt-2">
			    <label for="test">Recepient Name : </label>&nbsp;&nbsp;
                <span><input name="test" id="rfname" type="text" placeholder="First name" /></span>&nbsp;&nbsp;
                <span><input name="test" id="rlname" type="text" placeholder="Last name" /></span>
				</div>
				<hr>
				 <fieldset class="border border-dark  p-2" >
						 <legend  class=" w-auto"style="font-weight: bold;font-family: cursive;">Shipping Address</legend>
						<div class="col">
			                  <input type="text" id="address" placeholder="Address" class="form-control" />
			                  <label class="m-auto">Street address</label>
			            </div>
			            <br>
                        <div class="row m-auto">
                        	<div class="col-4">
                        	
                        	 <input type="text" placeholder="city" id="city" class="form-control" />
					         <label  class="m-auto">City</label>
					          </div>
						    <div  class="col-4">
                        	 <input type="text" placeholder="State" id="state" class="form-control"  />
                        	 <label class="m-auto">State</label>
						   </div>
					     	<div  class="col-4">
									<select id="country">
									  <option value="India">India</option>
									  <option value="USA">USA</option>
									  <option value="Germany">Germany</option>
									  <option value="France">France</option>
									</select><br>
									<label class="m-auto">Country</label>
						        </div>
					   </div>   
						     <div class="col">
								<div class=" row">
							    	<div class="col-4">			
					     		    	<input  type=" text" id="pincode" class="form-control" placeholder="Pincode" pattern="[0-9]{6}" maxlength="6">
									   <label class="m-auto" > Pincode</label>
								   </div>
							  </div>
							</div> 
					    </div>
				 
				 </fieldset>
					<hr>	
				
				<div class="form-group mt-2">
			    <label for="test">Buyers Name : </label>&nbsp;&nbsp;&nbsp;&nbsp;
                <span><input name="test" id="bfname" type="text" placeholder="First name" /></span>&nbsp;&nbsp;
                <span><input name="test" id="blname" type="text" placeholder="Last name" /></span>
				</div>
				  
				  <div class="form-group mt-2">
			    <label for="test">Mobile Number : </label>
				<input type="text" id="phone" name="phone" maxlength="10" pattern="[0-9]{10}" > 
				</div>
				
				 <div class="form-group mt-2">
			    <label for="test">Email-Id : </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="email" id="email" name="emailaddress" placeholder="example@email.com" multiple>
				  </div>
				  
				  <input type="submit" class="btn text-White navbardef" value="Place Order">
				  
				  </form>
				
	</div>

  </div>
  </div>
  </div>
</div>




		<div class="footer text-White ">
  <p>© 2020. All Rights Reserved.</small></p>
  

</div>
</body>
</html>
	
	
